[Unit]
Description=KUDBEE Queue Processor
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/kudbee/queue
ExecStart=/usr/bin/python3 /opt/kudbee/queue/queue-system.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
